<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekly 1</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../index.js"></script>
</head>
<body class="margin background">

<div class="row">
    <div class="col-md-4 offset-md-4" style="background-color: #fff;margin-top: 85px;padding:20px;">
        <h3>{{viewTemplate}}</h3>
        <form action="/images/gallery/{{image._id}}" method="POST" autocomplete="off" enctype="multipart/form-data">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="Title" value="{{image.title}}"
                       required>
            </div>
            <div class="form-group">
                <label for="formControl">Category</label>
                <select class="form-control" id="formControl" name="category" value="{{image.category}}" required>
                    <option>Autot</option>
                    <option>Kissat</option>
                    <option>NSFW</option>
                    <option>Propaganda</option>
                    <option>Surreal</option>
                </select>
            </div>
            <div class="form-group">
                <label>Details</label>
                <input type="text" maxlength="100" class="form-control" name="details" placeholder="Description" value="{{image.details}}"
                       required>
            </div>
            <div class="form-group">
                <div class="flex">
                    <button type="submit" class="btn btn-success"><i class="fa fa-share"></i> Submit</button>
                    <a class="btn btn-dark" href="/images/gallery"><i class="fa fa-image"></i> Gallery </a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>