<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weekly 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../index.js"></script>
    <script type="text/javascript">
        function changeImage(filename, buttonId) {                // used to change image sources on the modal component
            const image = document.getElementById('original');
            const modal = document.getElementById('modal-content');
            if (buttonId === 'small') {
                image.src = '{{sendtype}}{{host}}/small/small_' + filename;
            } else if (buttonId === 'mid') {
                image.src = '{{sendtype}}{{host}}/mid/mid_' + filename;
            } else {
                image.src = '{{sendtype}}{{host}}/' + filename;
            }
        }
    </script>

</head>
<body style="background-color: #ff5252 !important; margin: 0 !important;">
<div class="flex">
    <a class="btn btn-dark flex" href="/images/"><i class="fa fa-upload"></i> Go to upload page</a>
</div>

<div class="flexbox">
    <div class="row extra">
        <table>
            <thead>
            </thead>
            <tbody>

            {{#each image}}
                <tr>
                    <div class="col-lg-2" style="margin: 15px !important; text-align: center;">
                        <div>
                            <p style="color: darkgrey;">{{moment time 'MMMM Do YYYY, h:mm:ss a'}}</p>
                            <img class="resize" src="http://localhost:3000/small/small_{{this.fileName}}">
                            <div class="flex">
                                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#my-modal"
                                        data-val="{{this.fileName}}"><i class="fa fa-list"></i>
                                    View Sizes
                                </button>
                            </div>
                            <h3>{{this.title}}</h3>
                            <p style="color: darkgrey; font-size: 13px;">{{this.category}}</p>
                            <div style="min-height: min-content;display: flex;}">
                                <span>{{this.details}}</span>
                            </div>
                        </div>
                </tr>
                <div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" id="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Image Sizes</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="content"></div>
                                <div class="row extra">
                                    <img class="image" src="http://localhost:3000/{{this.fileName}}" id="original">
                                </div>
                                <div class="row extra">
                                    <button onclick="changeImage('{{this.fileName}}', 'small')" type="button"
                                            class="btn btn-success"> 200 * 112px
                                    </button>
                                    <button onclick="changeImage('{{this.fileName}}', 'mid')" type="button"
                                            class="btn btn-dark"> 400 * 224px
                                    </button>
                                    <button onclick="changeImage('{{this.fileName}}', 'original')" type="button"
                                            class="btn btn-primary"> Original size
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            </tbody>
        </table>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>